<!DOCTYPE html>
<p id="eco-brand-title" class="shadow display-5 p-3 rounded-3 col-11 col-md-6 col-lg-4">Nos Eco Marques Au Top</p>
<!-- @Todo add eco brand mark image / name -->
<div class="card-container container-fluid d-flex justify-content-around row-cols-12">
    <a href="#" class="text-decoration-none">
        <div id="eco-brand-card" class="card-body img-fluid container border-4 shadow rounded-3">
            <p class="card-text fs-5 text-center p-4 text-white"> Une eco marque</p>
        </div>
    </a>
</div>

