<!DOCTYPE html>
<p id="eco-brand-title" class="shadow display-5 p-3 rounded-3 col-11 col-md-6 col-lg-5 mt-5  m-0">Nos Eco Marques Au Top</p>
<!-- @Todo add eco brand mark image / name -->
<div class="card-container container-fluid d-flex justify-content-center row m-0 mt-5">
    <div id="eco-brand-card" class="container-fluid m-0 col-6 col-md-4 col-lg-4 rounded-2">
        <a href="#" class="text-decoration-none">
            <div  class="card-body border-4 shadow rounded-3 ">
                <p class="card-text fs-5 text-center p-5 text-white"> Une eco marque</p>
            </div>
        </a>
    </div>
</div>
<div id="eco-brand-button" class="container-fluid d-flex justify-content-center t-4 mt-5">
    <a href="#" class="text-decoration-none">
        <button class="btn btn-secondary text-uppercase text-white" href="#">Toutes les marques</button>
    </a>
</div>
