<!DOCTYPE html>
    <!-- Main rating container -->
    <div class="container-fluid d-flex flex-column justify-content-center justify-content-md-start p-0 ">
        <div class="d-flex text-center">
            <p id="title-rating" class="text-justify ms-3 ms-md3 ms-lg-3 mb-0 p-0 fw-bold fs-4 p-0 blockquote">Excellent</p>
            <!-- Stars container -->
            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                <img src="/images/user_rating/star.svg" alt="image d'une étoile" class="h3 m-1">
            </th:block>
        </div>
        <!-- @todo add number of customer's advice -->
        <p class="text-muted fst-italic m-0 p-0 blockquote-footer row ms-3 ms-md-3 ms-lg-3">
            Basé sur les  x avis laissez sur le site
        </p>
    </div>
    <!-- User rating container -->
    <div class="container-fluid p-0">
        <p class="text-muted text-start m-1 mt-4 ms-3 ms-md-3 ms-lg-3">Nos avis 4 et 5 étoiles</p>
        <!-- User card container-->
        <div class="card-user-rating-container d-flex justify-content-center mt-4">
            <!-- User card -->
            <div class="card bg-gradient shadow col-11 col-md-6 col-lg-5 d-flex justify-content-center">
                <div class="h-flex col m-2">
                    <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                        <img src="/images/user_rating/star.svg" alt="" class="m-1">
                    </th:block>
                </div>
                <!-- @todo add user advice information (hours, comment, rating, user first name) redirection to product -->
                <p class="card-text text-muted mt-0 m-2">John, il y a 15 heures</p>
                <p class="card-text m-2 fw-bold text-lg-center"> Ce produit est vraiment formidable, je recommandes</p>
                <div class="btn-container container-fluid d-flex justify-content-center">
                    <a class="text-decoration-none col-6">
                        <p class="text-success text-center m-0 p-0 mt-2 mb-2 fw-bold">En savoir plus</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
