<!DOCTYPE html>
<!-- List of user addresses -->
<ul class="p-0" th:if="${userAddress != null}">
    <li class="list-unstyled border border-3 border-opacity-75 p-2">
        <a href="#" class="text-decoration-none text-dark">
            <p th:text="${userAddress.number} + ' ' + ${userAddress.street}" class="mb-0"></p>
            <div class="d-flex">
                <p th:text="${userAddress.postalCode}" class="mb-0"></p>
                <p th:text="', ' + ${userAddress.city}" class="text-uppercase mb-0"></p>
            </div>
            <p class="mb-1">France</p>
        </a>
    </li>
</ul>
