<!DOCTYPE html>
<!-- Bread crumb -->
<nav aria-label="breadcrumb" class="mt-5 mb-4 ms-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item col-6"><p>Mon compte</p></li>
    </ol>
</nav>
<div class="card col-6 mb-5 mt-5 shadow-lg ms-4">
    <div class="card-body d-flex flex-column">
        <p class="h3">Bienvenue</p>
        <p class="fw-bold">UserName UserLastName</p>
        <a class="text-danger fw-bold" href="#">Déconnexion</a>
        <hr>
        <p class="fw-bold">A propos de vous :</p>
        <a class="text-danger fw-bold">Mes informations</a>
        <a class="text-danger fw-bold">Changer votre mot de passe</a>
    </div>
</div>
