<!DOCTYPE html>
<!-- User personal information component -->
<div class="container-fluid d-flex justify-content-center mb-5 mt-3 ">
    <div class="col-11 shadow-lg rounded-3">
        <div class="card-body m-4">
            <p class="h3">Bienvenue</p>
            <p th:text="${user.firstName} + ' ' + ${user.lastName}" class="fw-bold"></p>
            <a class="text-danger fw-bold" th:href="@{/logout}">Déconnexion</a>
            <hr>
            <div class="d-flex flex-column">
                <p class="fw-bold">A propos de vous :</p>
                <a class="text-danger fw-bold">Mes informations</a>
                <a class="text-danger fw-bold">Changer votre mot de passe</a>
            </div>
        </div>
    </div>
</div>
