<!DOCTYPE html>
<!-- Addresses component -->
<div class="container-fluid d-flex justify-content-center mt-3 mb-5">
    <div th:if="${alertMessage}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Attention !</strong> <span th:text="${alertMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="rounded-3 shadow-lg col-11">
        <!-- Card body -->
        <div class="card-body m-4">
            <p class="h3 fw-bold mb-4">Votre Adresse</p>
                <div th:replace="fragments/user/_listAddress-component"></div>
            <hr>
            <!-- Btn new addresses -->
            <a href="/address/new-address" class="text-decoration-none">
                <button class="btn btn-danger text-uppercase">Ajouter</button>
            </a>
        </div>
    </div>
</div>
