<!DOCTYPE html>
<!-- Addresses component -->
<div class="container-fluid d-flex justify-content-center mt-3 mb-5">
    <div class="rounded-3 shadow-lg col-11">
        <!-- Card body -->
        <div class="card-body m-4">
            <p class="h3 fw-bold mb-4">Votre Adresse</p>
                <div th:replace="fragments/user/_listAddress-component"></div>
            <hr>
            <!-- Btn new addresses -->
            <a href="/address/new-address" class="text-decoration-none">
                <button class="btn btn-danger text-uppercase">Ajouter</button>
            </a>
        </div>
    </div>
</div>
