<!DOCTYPE html>
<!-- User wish list component -->
<div class="container-fluid d-flex justify-content-center">
    <div class="col-11 shadow-lg rounded-3">
        <div class="card-body m-4">
            <p class="h3">Vos Listes D'envie</p>
            <p>
                Des produits vous font les yeux doux ? Créé une liste d'envie, ajouter vos produits pour les retrouver
                plus facilement !
            </p>
            <ul class="text-decoration-none list-unstyled">
                <li class="container-fluid fw-bold border border-2 border-opacity-75">
                    <p class="mb-0 mt-2">Escalade</p>
                    <p class="mb-2">1 articles</p>
                </li>
            </ul>
            <hr>
            <button class="btn btn-danger fw-bold text-uppercase">Créer une nouvelle liste</button>
        </div>
    </div>
</div>
