<!DOCTYPE html>
<!-- User wish list component -->
<div class="container-fluid d-flex justify-content-center mb-5">
    <div class="col-11 shadow-lg rounded-3">
        <!-- Card user wish list -->
        <div class="card-body m-4">
            <p class="h3 fw-bold">Vos Listes d'envie</p>
            <p>
                Des produits vous font les yeux doux ? Créé une liste d'envie, ajouter vos produits pour les retrouver
                plus facilement !
            </p>
            <ul class="text-decoration-none list-unstyled">
                <!-- User wish list -->
                <li class="container-fluid fw-bold border border-2 border-opacity-75">
                    <a href="#" class="text-decoration-none text-dark w-100">
                        <p class="mb-0 mt-2">Escalade</p>
                        <p class="mb-2">1 articles</p>
                    </a>
                </li>
            </ul>
            <hr>
            <!-- Btn new user wish list -->
            <a href="#" class="text-decoration-none">
                <button class="btn btn-danger fw-bold text-uppercase">Créer une nouvelle liste</button>
            </a>
        </div>
    </div>
</div>
