<!DOCTYPE html>
<div class="circle-container container d-flex justify-content-center">
    <!-- Shopping product step -->
    <div class="container d-flex flex-column align-items-center m-0">
        <div class="circle container-fluid bg-primary">
            <span id="circle-1" class="circle-number">1</span>
        </div>
        <p class="mb-0">Pannier</p>
    </div>
    <!-- Separation line -->
    <hr class="mt-1 w-100">
    <!-- Delivery step -->
    <div class="container d-flex flex-column align-items-center m-0">
        <div class="circle container-fluid">
            <span id="circle-2" class="circle-number">2</span>

        </div>
        <p class="mb-0">Livraison</p>
    </div>
    <!-- Separation line -->
    <hr class="mt-1 w-100">
    <!-- Payment step -->
    <div class="container d-flex flex-column align-items-center m-0">
        <div class="circle container-fluid">
            <span id="circle-3" class="circle-number">3</span>
        </div>
        <p class="mb-0">Paiement</p>
    </div>
</div>
