<!DOCTYPE html>
<!-- Top container with step  -->
<div class="container-fluid mb-3 mt-3">
    <a href="javascript:history.back()" class="text-decoration-none d-flex justify-content-center">
        <img src="/images/icon/arrow-left-short.svg" alt="Icone de retour">
        <p class="fst-italic m-0 text border-dark">Continuer mes achats</p>
    </a>
</div>
<!-- Step container -->
<div class="circle-container d-flex justify-content-around">
    <!-- Shopping product step -->
    <div class="justify-content-center">
        <div class="circle container-fluid">
            <span id="circle-1" class="circle-number">1</span>
        </div>
        <p>Mon pannier</p>
    </div>
    <!-- Delivery step -->
    <div class="justify-content-center">
        <div class="circle container-fluid">
            <span id="circle-2" class="circle-number">2</span>

        </div>
        <p>Livraison</p>
    </div>
    <!-- Payment step -->
    <div class="justify-content-center">
        <div class="circle container-fluid">
            <span id="circle-3" class="circle-number">3</span>
        </div>
        <p>Paiement</p>
    </div>
</div>
<!-- Shopping product title -->
<div class="container-fluid">
    <p>Mon Panier</p>
    <p>Excellent choix</p>
    <p>voici les produits dans votre panier</p>
</div>
<!-- Product shopping -->
<div class="container-fluid">

</div>
