<!DOCTYPE html>
<script src="/javascript/webapp-js/fetchPayment.js"></script>
<!-- Reduction and shopping cart resume -->
<div class="container-fluid col-11 bg-white shadow-lg rounded-3 mb-3 p-0">
<!-- Shopping resume-->
    <div class="container-fluid p-2">
        <!-- Under total container -->
        <div class="container-fluid d-flex justify-content-between mt-3">
            <p>Sous total</p>
            <p th:text="${shoppingSession.totalPrice}">99,99 €</p>
        </div>
        <!-- Delivery price estimation container -->
        <div class="container-fluid d-flex justify-content-between">
            <p>Estimation des frais de livraison</p>
            <p th:text="${shoppingSession.totalPrice > 99 ? '0 €' : '6,90 €'}" class="fw-bold"></p>
        </div>
        <!--&lt;!&ndash; Taxes total price container &ndash;&gt;-->
        <!--<div class="container-fluid d-flex justify-content-between">-->
        <!--    <div class="left">-->
        <!--        <p class="opacity-75 mb-0">Total des taxes</p>-->
        <!--        <p class="fst-italic text-muted opacity-50">(inclus dans le prix)</p>-->
        <!--    </div>-->
        <!--    <p class="right text-muted opacity-75 d-flex align-items-center">17,60€</p>-->
        <!--</div>-->
        <!-- Total price container -->
        <div class="container-fluid d-flex justify-content-between mb-3">
            <p class="fw-bold">Total</p>
            <p th:if="${shoppingSession.totalPrice >= 100}" th:text="${shoppingSession.totalPrice}"></p>
            <p th:if="${shoppingSession.totalPrice <= 99}" th:text="(${shoppingSession.totalPrice} + 6.90)"></p>
        </div>
        <!-- Button component to redirect to delivery step pages -->
        <div class="container-fluid">
            <a href="#" class="text-decoration-none d-flex justify-content-center">
                <button id="payment-btn" class="btn btn-primary text-uppercase col-8 col-md-6 col-lg-4 mb-4">Payer</button>
            </a>
        </div>
    </div>
</div>
