<!DOCTYPE html>
<!-- Delivery component -->

    <!-- Card for home delivery -->
    <div id="home-delivery" class="bg-white shadow-lg col-11 mt-4 rounded-3 d-flex flex-column">
        <p class="ms-4 mt-3 mb-4">A votre domicile</p>
        <div class="container-fluid m-0 p-0 d-flex flex-column align-items-center">
            <!-- Standard delivery -->
            <div class="form-check col-7 mb-3 d-flex align-items-center justify-content-center">
                <input class="form-check-input p-3" type="radio" id="standard-home" name="delivery" value="standard-home">
                <label class="form-check-label fw-bold fs-4 ms-3" for="standard-home">Standard GRATUIT</label>
            </div>
            <!-- Express delivery -->
            <div class="form-check col-7 mb-4 d-flex align-items-center justify-content-center">
                <input class="form-check-input p-3" type="radio" id="express-home" name="delivery" value="express-home">
                <label class="form-check-label fw-bold fs-4 ms-3" for="express-home">Express 6,90€</label>
            </div>
        </div>
    </div>
    <!-- Card for pick-up point delivery -->
    <div id="pick-up-point" class="bg-white shadow-lg col-11 mt-4 rounded-3 d-flex flex-column">
        <p class="ms-4 mt-3 mb-4">En point Relais</p>
        <div class="container-fluid m-0 p-0 d-flex flex-column align-items-center">
            <!-- Standard delivery -->
            <div class="form-check col-7 mb-4 d-flex align-items-center justify-content-center">
                <input class="form-check-input p-3" type="radio" id="standard-pick-up" name="delivery" value="standard-pick-up">
                <label class="form-check-label fw-bold fs-4 ms-3" for="standard-pick-up">Standard GRATUIT</label>
            </div>
            <!-- Express delivery -->
            <div class="form-check col-7 mb-4 d-flex align-items-center justify-content-center">
                <input class="form-check-input p-3" type="radio" id="express-pick-up" name="delivery" value="standard-pick-up">
                <label class="form-check-label fw-bold fs-4 ms-3" for="express-pick-up">Express 6,90€</label>
            </div>
        </div>
    </div>

