<!DOCTYPE html>
<!-- Reduction and shopping cart resume -->
<div class="container-fluid col-11 bg-white shadow-lg rounded-3 p-0">
        <!-- Under total container -->
        <div class="container-fluid d-flex justify-content-between">
            <p class="mt-3">Sous total</p>
            <p class="mt-3">99,99 €</p>
        </div>
        <!-- Delivery price estimation container -->
        <div class="container-fluid d-flex justify-content-between">
            <p>Estimation des frais de livraison</p>
            <p class="fw-bold">6,90 €</p>
        </div>
        <!-- Taxes total price container -->
        <div class="container-fluid d-flex justify-content-between">
            <div class="left">
                <p class="opacity-75 mb-0">Total des taxes</p>
                <p class="fst-italic text-muted opacity-50">(inclus dans le prix)</p>
            </div>
            <p class="right text-muted opacity-75 d-flex align-items-center">17,60€</p>
        </div>
        <!-- Total price container -->
        <div class="container-fluid d-flex justify-content-between mb-3">
            <p class="fw-bold">Total</p>
            <p class="fw-bold">99,99 €</p>
        </div>
        <!-- Button component to redirect to delivery step pages -->
        <div class="container-fluid">
            <a href="/livraison" class="text-decoration-none d-flex justify-content-center">
                <button class="btn btn-danger text-uppercase col-8 col-md-6 mb-4">Continuer</button>
            </a>
        </div>
</div>
