<!DOCTYPE html>
<!-- Product and resume component -->
<div class="container-fluid mb-4 m-0 p-0 rounded-3 d-flex flex-column align-items-center">
    <!-- Product container -->
    <div class="col-11 shadow-lg bg-white rounded-3">
        <!-- Product row  @todo replace with users product shopping cart info -->
        <div class="d-flex justify-content-around ">
            <!-- Product image -->
            <img class="img-fluid col-4 rounded-3" src="/images/product/drago.jpg" alt="product desc">

            <!-- Product info : Brand and product name container -->
            <div class="flex-column  mt-2 col-">
                <!-- Brand -->
                <div>
                    <p class="fw-bold mb-0 fs-5">Marque</p>
                    <p>Product name</p>
                </div>
                <!-- Quantity and price container -->
                <div class="d-flex">
                    <p class="fw-light">1</p>
                    <p>x</p>
                    <p class="fw-light">99,99€</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
