<!DOCTYPE html>
<div class="d-lg-flex justify-content-around flex-lg-wrap">
    <!-- Product shopping @todo replace by product info -->
    <div class="container-fluid d-flex flex-column bg-white d-flex p-2 mt-4 rounded-3 border-4 col-11 col-md-5 col-lg-5 shadow-lg mb-4">
        <!-- Img product -->
        <div class="mb-4 d-flex justify-content-center">
            <img class="img-fluid " src="/images/product/drago.jpg" alt="image d'un produit">
        </div>
        <!-- Container product name and price -->
        <div class="col mb-4 d-flex justify-content-around m-3">
            <!-- Product brand and name -->
            <div class="container-fluid p-0 flex-colum col">
                <p class="fw-bold fs-2 m-0">Marque</p>
                <p class="fw-semibold fs-3">Product name</p>
            </div>
            <p class="col text-danger fs-5 fw-bold d-flex align-items-center justify-content-end">145,00€</p>
        </div>
        <!-- Container product description -->
        <div class="container-fluid">
            <p class="d-flex justify-content-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tempus leo, vel cursus libero.
                Sed eget laoreet lacus. Nam tellus leo, imperdiet at risus ut, dictum ornare odio. Nullam tempor
                facilisis purus, a sodales leo. Cras ipsum nibh, congue a elit vulputate, fermentum pulvinar metus.
            </p>
        </div>
        <!-- Size container ? -->

        <!-- Add to shopping cart btn -->
        <button class="m-3 btn btn-danger text-uppercase fw-bold d-flex justify-content-between">
            <span>ajouter au panier</span>
            <span> 145,00€</span>
        </button>
        <!-- Border success ? -->
        <div class="border border-success m-3">
            <p class="d-flex justify-content-center m-2 text-success">En stock</p>
        </div>
        <!-- Fav product list -->
        <a href="#" class="text-danger container-fluid d-flex justify-content-center align-items-center">
            <img src="/images/icon/balloon-heart-fill.svg" alt="Incone d'un coeur, ajouter au favoris">
            <p class="m-0">Ajouter à ma liste d'envie</p>
        </a>
    </div>
</div>

