<!DOCTYPE html>
<!-- Bread crumb -->
<nav aria-label="breadcrumb" class="mt-5 mb-4 ms-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a th:text="${product.category.name}" href="javascript:history.back()">categories name</a></li>
        <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
</nav>
<!-- Product container -->
<div class="d-lg-flex justify-content-around flex-lg-wrap">
    <!-- Product details card @todo replace by product info -->
    <div class="container-fluid d-flex flex-column bg-white d-flex p-2 mt-4 rounded-3 border-4 col-11 col-md-5 col-lg-5 shadow-lg mb-4">
        <!-- Img product -->
        <div class="mb-4 d-flex justify-content-center">
            <img class="img-fluid " src="/images/product/drago.jpg" alt="image d'un produit">
        </div>
        <!-- Container product name and price -->
        <div class="col mb-4 d-flex justify-content-around m-3">
            <!-- Product name -->
            <div class="container-fluid p-0 flex-colum col">
                <p th:text="${product.name}" class="fw-semibold fs-3"></p>
            </div>
            <p th:text="${product.price} + ' €'" class="col text-danger fs-5 fw-bold d-flex align-items-center justify-content-end"></p>
        </div>
        <!-- Container product description -->
        <div class="container-fluid">
            <p th:text="${product.description}" class="d-flex justify-content-center"></p>
        </div>

        <!-- Add to shopping cart btn -->
        <button class="m-3 p-2 btn btn-danger text-uppercase fw-bold d-flex justify-content-between align-items-center">
            <span>ajouter au panier</span>
            <p class="m-0" th:text="${product.price} + ' €'"></p>
        </button>

        <!-- Border in stock -->
        <div th:if="${product.quantity >= 1}" class="border border-success m-3">
            <p class="d-flex justify-content-center m-2 text-success">En stock</p>
        </div>
        <!-- Border no stock -->
        <div th:if="${product.quantity < 1}" class="border border-danger m-3">
            <p class="d-flex justify-content-center m-2 text-danger">Pas de stock</p>
        </div>

        <!-- Fav product list -->
        <a href="#" class="text-danger container-fluid d-flex justify-content-center align-items-center">
            <img src="/images/icon/balloon-heart-fill.svg" alt="Incone d'un coeur, ajouter au favoris">
            <p class="m-0">Ajouter à ma liste d'envie</p>
        </a>
    </div>
</div>

