<!DOCTYPE html>
<!-- Bread crumb -->
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<script src="/javascript/webapp-js/productScript.js"></script>
<nav aria-label="breadcrumb" class="mt-5 mb-4 ms-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a th:text="${product.category.name}" href="javascript:history.back()">categories name</a></li>
        <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
</nav>
<!-- Product container -->
<div class="d-lg-flex justify-content-around flex-lg-wrap">
    <div class="container-fluid d-flex flex-column bg-white d-flex p-2 mt-4 rounded-3 border-4 col-11 col-md-5 col-lg-5 shadow-lg mb-4">
        <!-- Img product -->
        <div class="mb-4 d-flex justify-content-center">
            <img class="img-fluid " src="/images/product/drago.jpg" alt="image d'un produit">
        </div>
        <!-- Product error stock -->
        <p class="text-danger" th:text="${errorMessage}"></p>
        <!-- Container product name and price -->
        <div class="col mb-4 d-flex justify-content-around m-3">
            <!-- Product name -->
            <div class="container-fluid p-0 flex-colum col">
                <p th:text="${product.name}" class="fw-semibold fs-3"></p>
            </div>
            <p th:text="${product.price} + ' €'" class="col text-danger fs-5 fw-bold d-flex align-items-center justify-content-end"></p>
        </div>
        <!-- Container product description -->
        <div class="container-fluid">
            <p th:text="${product.description}" class="d-flex justify-content-center"></p>
        </div>

        <!-- Add to shopping cart btn -->
        <a  class="m-3 text-decoration-none d-flex justify-content-center">
            <button
                    id="add-product"
                    class="btn btn-danger text-uppercase fw-bold w-100 p-0 d-flex justify-content-between"
                    th:data-product-id="${product.id}"
                    th:data-product-name="${product.name}"
                    th:data-product-price="${product.price}"
                    th:data-product-quantity="${product.quantity}"
            >
                <span class="m-2">ajouter au panier</span>
                <span class="m-2" th:text="${product.price} + ' €'"></span>
            </button>
        </a>

        <!-- Border in stock -->
        <div th:if="${product.quantity >= 1}" class="border border-success m-3">
            <p class="d-flex justify-content-center m-2 text-success">En stock</p>
        </div>
        <!-- Border no stock -->
        <div th:if="${product.quantity < 1}" class="border border-danger m-3">
            <p class="d-flex justify-content-center m-2 text-danger">Pas de stock</p>
        </div>

        <!-- Fav product list -->
        <a href="#" class="text-danger container-fluid d-flex justify-content-center align-items-center">
            <img src="/images/icon/balloon-heart-fill.svg" alt="Incone d'un coeur, ajouter au favoris">
            <p class="m-0">Ajouter à ma liste d'envie</p>
        </a>
    </div>
</div>

<div th:include="~{/fragments/product-details/_product-modal-sucess}"></div>

