<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <div class="footer-menu v-flex">
        <div class="vousEtnous-category flex-column row mb-4 align-items-center text-center">
            <p>Vous & Nous </p>
            <a>Qui sommes nous ?</a>
            <a>Nous rejoindres</a>
            <a>Nos partenaires</a>
        </div>
        <div class="service-category flex-column row mb-4 align-items-center text-center">
            <p>Tous nos services</p>
            <a>Services client, toujours présent</a>
            <a>FAQ, les questions réponses</a>
            <a>Livraison: plus rapide que la lumière</a>
            <a>Clik & Collect: encore plus rapide</a>
            <a>Garentie et retour</a>
            <a>Guide, astuces et conseils d'experts</a>
            <a>Programme de fidélité</a>
        </div>
    </div>
</html>
