<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <!-- Todo replace href with the good url-->
    <div class="footer-menu v-flex h-100">
        <div class="vousEtnous-category p-4 flex-column row mb-4 align-items-center text-center">
            <p class="footer-title-category text-uppercase">Vous et Nous </p>
            <a href="#">Nous rejoindres</a>
            <a href="#">Nos partenaires</a>
            <a href="#" >Qui sommes nous ?</a>
        </div>
        <div class="service-category flex-column row mb-4 align-items-center text-center">
            <p class="footer-title-category text-uppercase">Tous nos services</p>
            <a href="#">Services client, toujours présent</a>
            <a href="#">FAQ, les questions réponses</a>
            <a href="#">Livraison: plus rapide que la lumière</a>
            <a href="#">Clik and Collect: encore plus rapide</a>
            <a href="#">Garentie et retour</a>
            <a href="#">Guide, astuces et conseils d'experts</a>
            <a href="#">Programme de fidélité</a>
        </div>
        <div class="service-category flex-column row mb-4 align-items-center text-center">
            <p class="footer-title-category text-uppercase">Plus sérieusement</p>
            <a href="#">Condition générales de ventes</a>
            <a href="#">Mention légales</a>
            <a href="#">Données personnelles et cookies</a>
            <a href="#">Rappel produits</a>
            <a href="#">Presse et média</a>
            <a href="#">Contact</a>
        </div>
    </div>
</html>
