<!DOCTYPE html>
<header class="navbar container-fluid d-flex justify-content-around mb-4">
    <!-- Burger icon with text -->
    <div class="burger-icon col-2 col-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-center justify-content-lg-center">
        <p class="nav-menu m-0">MENU</p>
        <button class="navbar-toggler d-flex justify-content-center p-lg-12" type="button" data-bs-toggle="collapse" data-bs-target="#MainNav" aria-controls="MainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon p-md-3 p-lg-12"></span>
        </button>
    </div>
    <!-- WebSite title navbar -->
    <a href="/" class="m-0 p-0 col-6 col-md-4 col-lg-3 text-decoration-none">
        <p class="nav-title display-6 text-center text-dark mb-0">Vertical Ascent</p>
    </a>
    <!-- Search input screen width > 767px -->
    <div id="nav-search" class="col-lg-6">
        <form class="form-inline" >
            <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <!-- Container Icon -->
    <div class="d-flex justify-content-around col-4 col-lg-1">
        <!-- Search icon -->
        <img class="icon-nav col-md-4" id="nav-search-icon" src="/images/icon/search.svg" alt="search icon">
        <!-- Cart icon -->
        <a href="/panier" class="text-decoration-none col-md-4 col-lg-6">
            <img class="icon-nav col-4-md-4 col-lg-6" src="/images/icon/cart.svg" alt="shipping cart icon">
        </a>
        <!-- Account icon -->
        <a href="/account" class="text-decoration-none col-md-4 col-lg-6">
            <img class="icon-nav" id="icon-account" src="/images/icon/person-circle.svg" alt="account icon">
        </a>
    </div>
    <!-- Open burger menu-->
    <div class="collapse navbar-collapse" id="MainNav">
        <div th:replace="fragments/_menu-category.html"></div>
    </div>
</header>

