<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<header class="navbar">
    <div class="container row">

        <div class="burger-icon col ">
          <button class="navbar-toggler col" type="button" data-bs-toggle="collapse" data-bs-target="#MainNav" aria-controls="MainNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>


        <div class="col">
            <p class="nav-title h2 w-100">Vertical Ascent</p>
        </div>

        <div class="collapse navbar-collapse" id="MainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

    </div>
</header>
</html>
