<h3 class="fw-bold text-uppercase col-8 mt-4">Identifiez-vous ou créer un compte </h3>
<p class="text-dark">Vous avez déjà commandé sur notre site ? Connectez-vous simplement</p>
<!-- Form login container -->
<div class="container-fluid d-flex justify-content-center">
    <!-- Form -->
    <form id="login-form" class="d-flex justify-content-center flex-column col-10">
    <label for="inputEmail" class="sr-only mb-2 mt-3">Identifient</label>
    <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only mb-2">Mot de passe</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
    </div>
    <button class="btn btn-lg btn-danger btn-block mt-1" type="submit">Connexion</button>
</form>
</div>
<!-- Register container -->
<div class="container-fluid col-10 d-flex flex-column mt-3">
    <h5 class="mt-4">Vous n'avez jamais commandé sur notre site ?</h5>
    <p>
        Ce n'est pas grave, on as tous nos petits défauts .. :)
        Créez votre compte dès maintenant et passez vos commande facilement,
        suivez leurs avancement et rejoignez le programme de fidélité !
    </p>
    <button class="btn btn-primary text-uppercase">S'enregistrer</button>
</div>
