@media (320px <= width <= 768px) {
    .nav-menu {
        font-size: 1rem;
    }

    .icon-nav {
        height: 27px;
    }

    #nav-search {
        display: none;
    }

    .nav-menu-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin-top: 20px;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media (width >= 768px) {
    .nav-menu {
        font-size: 1rem;
    }

    .navbar-toggler-icon {
        padding: 2rem;
    }

    .navbar-toggler {
        width: 30%;
    }
    .icon-nav {
        height: 35px;
        width: 50%
    }

    #nav-search-icon {
        display: none;
    }

    .nav-menu-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin-top: 20px;
        background-position: left;
        background-repeat: no-repeat;
    }

}
.navbar {
    background-color: white;
    border-bottom: 1px solid #adb5bd;
}

.nav-images-categories {
    width: 100%;
}

.nav-menu-list {
    list-style-type: none;

}

.menu-link-style {
    text-decoration: none;
}
