#product-image {
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 250px;
}

.filter {
    background: linear-gradient(to right, #e9ecef, white) ;
}

#filter-icon {
    height: 30px;
    width: 30px;
}


.bar-filter-container {
    z-index: 1;
    position: fixed;
    bottom: 0;
}

.product-container {
    z-index: 0;
}
