html {
    display: block;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

.main-content-container {
    height: 100%;
}

.navbar-collapse {
    z-index: 1;
}

/** Middle container gradient **/
#popular-product #eco-brand #article {
    background: linear-gradient(to right, rgba(170, 170, 170, 0.1), white);
}

/** User rating gradient **/
#user-rating {
    background: linear-gradient(to bottom, #80808019, white);

}

section #popular-product {
    margin-bottom: 1.5rem;
}
