
.nav-phone {
    height: 3rem;
    position: absolute;
}

.nav-title {
    font-size: 2rem;
}

.icon-nav {
    width: 25%;
    height: 25%;
}

.navbar {
    background-color: blue;
}

.navbar-toggler-icon {
    font-size: 4rem;
}

.nav-menu {
    font-size: 2rem;
}
