html {
    display: block;
    min-height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

.main-content-container {
    height: 100%;
}

.navbar-collapse {
    z-index: 1;
}

#popular-product {
    background: linear-gradient(to right, rgba(128, 128, 128, 10), white);
}
