<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vertical Ascent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
</head>
<body style="min-height: 100%;">
    <div th:replace="fragments/_navbar.html">
    </div>
</body>
</html>
