<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vertical Ascent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/categories-container.css">
</head>
<body>
    <div th:replace="fragments/_navbar.html"></div>
    <div th:include="fragments/_container-category"></div>
</body>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>

<script src="/javascript/bootstrap/bootstrap.min.js"></script>
</html>
