<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vertical Ascent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/categories-container.css">
    <link rel="stylesheet" href="/css/popular-product.css">
</head>
<body>
    <div class="main-content-container">
        <div th:replace="fragments/_navbar.html"></div>
        <section id="container-category" class="mb-4 mt-4">
            <div th:include="fragments/_home/_container-category.html"></div>
        </section>
        <section id="popular-product">
            <div th:include="fragments/_popular-product-section.html"></div>
        </section>
    </div>
    <footer>
        <div th:replace="fragments/_footer.html"></div>
    </footer>
</body>

<script src="/javascript/bootstrap/bootstrap.min.js"></script>
</html>
