<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Product category name - Vertical Ascent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user-rating.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/_navbar.html"></div>
<section>
    <div class="container-fluid" th:include="fragments/_product/_product-section.html"></div>
</section>
<section id="user-rating">
    <div class="container-fluid d-flex align-items-center flex-column mt-5 p-0 col-md-12 col-lg-12 mb-5 m-0"
         th:include="fragments/_home/_user-rating-section.html">
    </div>
</section>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</body>
