<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html"
>
<head>
    <title> S'enregister - Vertical Ascent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/user-rating.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
    <script src="/javascript/webapp-js/registerFormScript.js"></script>
</head>
<body>
<div class="main-content-container">
    <div th:replace="fragments/_navbar.html"></div>
    <!-- Banner & Title container -->
    <div id="banner-image"  class="container-fluid p-5 mt-5 ">
        <!-- Title container -->
        <div class="container-fluid d-flex flex-column align-content-center p-3 bg-white rounded-3 shadow-sm col-md-7">
            <p class="h1 fw-bold text-uppercase d-flex justify-content-center mb-0">Créer son compte</p>
            <p class="fs-2 text-center mt-0 p-0">
                <em class="m-0 ">Bienvenue parmi nous ! On fait connaissance ?</em>
            </p>
        </div>
    </div>
    <!-- Form register container -->
    <div class="container-fluid d-flex align-items-center flex-column m-0 p-0 ">
        <!-- Form -->
        <form th:object="${userRegistrationDto}" id="register-information-form" class="mt-4 col-10" th:action="@{/register/save}" method="post">
            <div class="responsive-container d-md-flex d-lg-flex justify-content-lg-around">
                <!-- Personal information container -->
                <div class="personal-info-container container-fluid p-0">
                    <h3 class="p-0 mt-2">Informations Personnelles</h3>
                    <!-- Personal information form-container -->
                    <div class="m-0 p-0 d-flex flex-column">
                        <!-- First name input -->
                        <label for="input-firstName" class="sr-only mb-2 mt-3">Prénom</label>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                        <input th:field="*{firstName}" name="firstName" type="text" id="input-firstName" class="form-control mb-2" required="required" autofocus="">
                        <!-- Last name input -->
                        <label for="input-lastName" class="sr-only mb-2 mt-2">Nom</label>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger mb-2"></span>
                        <input th:field="*{lastName}" name="lastName" type="text" id="input-lastName" class="form-control mb-2" required="required">
                        <!-- Birthdate input -->
                        <label for="input-birthDate" class="sr-only mb-2 mt-2">Date de naissance</label>
                        <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger"></span>
                        <input th:field="*{birthDate}" name="birthDate" type="date" id="input-birthDate" class="form-control mb-2 text-center" pattern="\d{2}-\d{2}-\d{4}">
                        <!-- Mobile phone input -->
                        <label for="input-mobilePhone" class="sr-only mb-2 mt-2 mb-2">Téléphone</label>
                        <span th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}" class="text-danger"></span>
                        <input th:field="*{mobilePhone}" name="mobilePhone" type="tel" id="input-mobilePhone" class="form-control mb-2">
                    </div>
                </div>

                <!-- Separation line -->
                <div class="horizontal-lign mt-4 mb-4 p-3">
                    <hr class="border-dark border-2">
                </div>

                <!-- Identification information title -->
                <div class="identification-info-container container-fluid p-0">
                    <h3 class="p-0 mt-2">Informations d'identification</h3>
                    <!-- Identification information form-container -->
                    <div class="m-0 p-0 d-flex flex-column">
                        <!-- Email input -->
                        <label for="input-emailAddress" class=>Adresse e-mail</label>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        <input th:field="*{email}" name="email" type="email" id="input-emailAddress" class="form-control mb-2" required="required" autofocus="">
                        <!-- Password input -->
                        <span id="passwordError" class="text-danger"></span>
                        <label for="input-password" class="sr-only mb-2 mt-3">Mot de passe</label>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                        <input th:field="*{password}" name="password" type="password" id="input-password" class="form-control mb-2" required="required" autofocus="">
                        <label for="input-confirmPassword" class="sr-only mb-2 mt-3">Confirmer le mot de passe</label>
                        <input type="password" id="input-confirmPassword" class="form-control mb-2" required="required" data-match="#input-confirmPassword">
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="btn btn-lg btn-danger btn-block mt-5 p-2 w-100" type="submit">S'enregistrer</button>
        </form>
    </div>
    <section id="user-rating">
        <div class="container-fluid d-flex align-items-center flex-column mt-5 p-0 col-md-12 col-lg-12 mb-5 m-0"
             th:include="fragments/section/_user-rating-section.html">
        </div>
    </section>
    <section id="article">
        <div class="container-fluid m-0 p-0 mt-5 mb-4" th:include="fragments/section/_article-section.html"></div>
    </section>
</div>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</body>
</html>
