<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/shopping-step.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
    <title>Shopping Cart - Vertical Ascent</title>
</head>
<body>
    <div class="main-content-container">
        <div th:replace="fragments/_navbar.html"></div>
        <section id="shopping-cart-product" class="p-2">
            <div th:include="fragments/_order/_step-one.html"></div>
        </section>
    </div>
</body>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</html>
