<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/popular-product.css">
    <link rel="stylesheet" href="/css/empty-product.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="main-content-container">
        <div th:replace="fragments/_navbar.html"></div>
        <!-- Empty storage display empty shopping cart fragments -->
        <section id="empty-shopping-cart" class="container-fluid p-0">
            <div th:include="/fragments/order/_empty-shopping-cart"></div>
        </section>
        <section id="popular-product">
            <div class="container-fluid m-0 p-0 popular-product-container" th:include="fragments/section/_popular-product-section.html"></div>
        </section>
    </div>
</body>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</html>
