<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/popular-product.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<section id="popular-product">
    <div th:include="/fragments/_section/_popular-product-section.html"></div>
</section>
</body>
</html>
