<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/order/shopping-step-circle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/order/product-recommendation.css">
    <link rel="stylesheet" href="/css/order/delivery.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
    <title>Shopping Cart - Vertical Ascent</title>
</head>
<body>
<div class="main-content-container">
    <div th:replace="fragments/_navbar.html"></div>
    <section>
        <div th:include="fragments/order/_back-previous-pages.html"></div>
    </section>
    <section>
        <div th:include="fragments/order/_step-cirlce-shopping-cart.html"></div>
    </section>
    <section>
        <div th:include="fragments/order/delivery/_delivery-container.html"></div>
    </section>
    <section>
        <div th:include="fragments/order/delivery/_product-and-resume-card.html"></div>
    </section>
</div>
</body>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</html>
