<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Vertical Ascent</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/javascript/bootstrap/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="main-content-container">
            <div th:replace="fragments/_navbar.html"></div>
            <!-- Bread crumb -->
            <nav aria-label="breadcrumb" class="mt-5 mb-4 ms-3">
                <ol class="breadcrumb d-flex">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/account">Mon compte</a></li>
                    <li class="breadcrumb-item"><p class="d-inline-block">Adresse</p></li>
                </ol>
            </nav>
            <section>
                <div th:replace="fragments/user/_addresses-form.html"></div>
            </section>
        </div>
        <footer>
            <div th:replace="fragments/_footer.html"></div>
        </footer>
    </body>
</html>
