<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vertical Ascent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/javascript/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="main-content-container">
    <div th:replace="fragments/_navbar.html"></div>
</div>
<section>
    <div class="container-fluid" th:replace="fragments/user/_personal-information.html"></div>
</section>
<footer>
    <div th:replace="fragments/_footer.html"></div>
</footer>
</body>
</html>
