<!DOCTYPE html>
<div class="product-container container d-flex flex-wrap d-md-flex row-sm justify-content-between m-0 w-100">
    <a th:each="product : ${products}" th:href="'/product/' + ${product.id}" class="text-decoration-none col-5 col-md-3 col-lg-3 p-0 p-lg-4">
        <div class="card-product card border-top-2 border-bottom-0 border-opacity-50 border-danger mb-5">
            <img id="product-image" src="/images/product/drago.jpg" th:alt="'images de ' + ${product.name}" class="img-fluid">
            <div class="p-2">
                <p class="text-danger d-flex justify-content-end"></p>
                <p th:text="${product.name}" class="fw-semibold d-flex justify-content-start fw-semibold m-0 mb-4"></p>
                <p th:text="${product.price} + ' €'" class="col text-danger fs-5 fw-bold d-flex align-items-center justify-content-end"></p>
            </div>
        </div>
    </a>
</div>
