<!DOCTYPE html>
<!-- Price need before free delivery @todo replace with total price before free delivery-->
<div class="container-fluid d-flex justify-content-around align-items-center col-11 col-md-5 col-lg-5 bg-white shadow-lg rounded-3 p-2 mb-3">
    <img class="img-fluid col-1" src="/images/icon/truck.svg" alt="icon d'un camion de livraison">

    <p class="col-10 m-0 text-center" th:if="${shoppingSession.totalPrice < 100}">
        Seulement <strong th:text="${100 - shoppingSession.totalPrice} + ' €'"></strong> pour bénificier de la livraison gratuite !
    </p>
    <p class="col-10 m-0 text-center" th:if="${shoppingSession.totalPrice >= 100}">
        Vous bénéficiez de la livraison gratuite ;)
    </p>
</div>
