<!-- Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Produit ajouté au panier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Votre produit a été ajouté au panier.</p>
                <p>Quantité : <span id="cartQuantity">1</span></p>
                <button id="modifyQuantityBtn" class="btn btn-secondary">Modifier la quantité</button>
                <a href="/pannier" class="btn btn-primary">Voir le panier</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer les achats</button>
            </div>
        </div>
    </div>
</div>
