<!DOCTYPE html>
<!-- Reduction and shopping cart resume -->
<div class="container-fluid col-11 col-md-5 col-lg-5 bg-white shadow-lg rounded-3 mb-3 p-0">
    <!-- Promotion container -->
    <div class="container-fluid d-flex justify-content-around align-items-center m-0 p-lg-2 p-md-2">
        <p class="text-danger text-decoration-underline fs-4 mt-2">Un code promo, des points de fidélités ?</p>
        <img class="img-fluid col-1 " src="/images/icon/plus-circle.svg" alt="Icon plus pour ajouter un code promo ou des points de fidélités">
    </div>
    <hr class="mt-lg-1 mt-md-1">
    <!-- Shopping resume-->
    <div class="container-fluid m-0">
        <!-- Under total container -->
        <div class="container-fluid d-flex justify-content-between">
            <p>Sous total</p>
            <p>99,99 €</p>
        </div>
        <!-- Delivery price estimation container -->
        <div class="container-fluid d-flex justify-content-between">
            <p>Estimation des frais de livraison</p>
            <p class="fw-bold">6,90 €</p>
        </div>
        <!-- Taxes total price container -->
        <div class="container-fluid d-flex justify-content-between">
            <div class="left">
                <p class="opacity-75 mb-0">Total des taxes</p>
                <p class="fst-italic text-muted opacity-50">(inclus dans le prix)</p>
            </div>
            <p class="right text-muted opacity-75 d-flex align-items-center">17,60€</p>
        </div>
        <!-- Total price container -->
        <div class="container-fluid d-flex justify-content-between">
            <p class="fw-bold">Total</p>
            <p class="fw-bold">99,99 €</p>
        </div>
        <div class="container-fluid">
            <a href="/livraison" class="text-decoration-none d-flex justify-content-center">
                <button class="btn  btn-primary text-uppercase col-8 col-md-6 col-lg-6 mb-4">Valider mon panier</button>
            </a>
        </div>
    </div>
</div>
