<script src="/javascript/webapp-js/productMobileFilter.js"></script>
<hr class="hr w-100 border-top-4 border-danger border-opacity-100 mt-0">
<div class="d-flex">
    <div class="col-9">
        <p class="text-center fw-bold mb-0"> Affiner votre rechercher</p>
        <p class="text-center mt-0"> avec des filtres d'experts spécialement configuré pour vous !</p>
    </div>
    <div class="col-3 text-center d-flex justify-content-center align-items-center">
        <img src="/images/icon/funnel.svg"  id="filter-icon" alt="Icone filtres">
    </div>
</div>
