<!DOCTYPE html>
<!-- Question about order -->
<div class="container-fluid col-11 col-md-5 col-lg-5 shadow-lg rounded-3 p-0 bg-white d-flex flex-column justify-content-between">
    <!-- First paragraph -->
    <div class="container-fluid justify-content-center">
        <p class="fw-semibold text-center mt-3">Une question sur votre commande ou simplement besoin d'aide ?</p>
    </div>
    <!-- Second paragraph -->
    <div class="container-fluid">
        <p class="m-0">Le standard téléphonique est disponnible du lundi au vendredi de 9h00 à 13h00 et de 14h00 à 18h00.</p>
        <p>Prix d'un appel local.</p>
    </div>
    <!-- Third paragraph -->
    <div class="container-fluid">
        <p>Vous pouvez contacter le support par e-mail et nous vous répondrons le plus vite possible.</p>
        <p>
            La <a href="#" class="text-dark text-decoration-underline">FAQ</a> est également disponnible pour les plus
            curieux d'entre vous
        </p>
    </div>
    <div class="container-fluid ">
        <a href="#" class="text-decoration-none container d-flex justify-content-center">
            <button class="btn btn-danger text-uppercase mb-4 col-8 col-md-6 col-lg-5">Nous contacter</button>
        </a>
    </div>
</div>

