<!DOCTYPE html>
<!-- Title container -->
<div class="container-fluid p-0">
    <p class="display-4 col-10 col-md-5 col-lg-9 m-0 p-0 ms-3 ms-md-3 ms-lg-3 mt-5">Les Derniers Articles et Tests Produits</p>
    <p class="col-10 col-lg- ms-3 ms-md-3 ms-lg-3">
        Notre revu sur les derniers produits, marques et tests effectués par
        par nos vendeur et utilisateurs aguerris. Ils vous partagent leur retours
        et expériences afin de vous aider à faire le bon choix.
    </p>
</div>
<!-- Article card container -->
<div class="container-fluid d-flex justify-content-center">
    <!-- Article card -->
    <div class="card col-10 col-md-7 col-lg-6 shadow rounded-3 p-3 mt-4">
        <p class="h4 text-uppercase">Mon article 1</p>
        <hr class="hr col-6">
        <!-- @Todo watch out length during impl article desc -->
        <!-- article description -->
        <p class="m-lg-2 col-lg-11">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et enim in dolor suscipit placerat a
           nec libero. Nulla ut pellentesque urna. Vivamus id odio non justo cursus fringilla. Fusce ullamcorper
           vulputate turpis in auctor. Nam faucibus erat tellus. Phasellus et dui ut mauris laoreet fringilla.
           Sed posuere felis id egestas porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           <!--Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;-->
           <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper interdum tellus,-->
           <!--nec placerat metus aliquet quis.-->
        </p>
        <!-- @Todo link to article id -->
        <a href="#" class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary text-uppercase fw-bold">Consulter</button>
        </a>
    </div>
</div>
