<!DOCTYPE html>
<div id="banner-image" class="d-flex flex-column justify-content-center mb-4">
    <p class="display-4 text-white col-md-3 ms-3 ms-md-3 ms-lg-3">Nos produits</p>
    <p class="display-4 text-white col-md-4 ms-3 ms-md-3 ms-lg-3">aussi populaires</p>
    <p class="display-4 text-white col-md-6 ms-3 ms-md-3 ms-lg-3">que les frères Mawen</p>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Assuming 'products' is the variable sent from the controller -->
        <div th:each="product : ${products}" class="col-5 col-sm-4 col-md-4 col-lg-3 mb-4">
            <div class="card shadow bg-body rounded border-0">
                <a th:href="@{'/product/' + ${product.id}}" class="text-decoration-none text-5 text-md-">
                    <div class="card-image">
                        <!-- Assuming 'product' has 'imagePath' property -->
                        <img src="/images/product/drago.jpg" class="img-fluid rounded-top-2" alt="Image d'un produit populaire">
                    </div>
                    <div class="card-body">
                        <!-- Assuming 'product' has 'price' and 'name' properties -->
                        <p id="product-price" class="d-flex justify-content-end text-danger text-uppercase fw-bold" th:text="${product.price} + ' €'"></p>
                        <h5 class="card-title text-dark" th:text="${product.name}"></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
